//////////////////////////////////
// VARIABLES
//////////////////////////////////

$color-gray-dark: #555;
$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-white: #fff;
$color-blue-bright: rgba(95,209,249,1);
$color-blue-dark: rgba(85,88,218,1);

$gradient-blue: radial-gradient( circle farthest-corner at 12.3% 19.3%,  $color-blue-dark 0%, $color-blue-bright 100.2% );

$font-size-default: 1.6rem;

$box-shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$box-shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

$cell-size: 20px;

//////////////////////////////////
// MIXINS
//////////////////////////////////

@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin gradient-text {
    background: $gradient-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


//////////////////////////////////
// UNIVERSAL RESET, BASIC STYLES
//////////////////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: $font-size-default;
    line-height: 1.7;
    background-image: $gradient-blue;
    height: 100vh;
    background-size: cover;
    //background-repeat: no-repeat;
    position: relative;
}



