//////////////////////////////////
// HEADER 
//////////////////////////////////

.header {
    display: flex;
    align-items: center;
    position: relative;
    padding: .7rem 2rem;
    margin-bottom: 1.5rem;
    background-color: $color-gray-light-1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    @include for-phone-medium-portrait-down {
        padding: .7rem 1rem;
    }
    
    
    &__logo {
        flex: 0 1 auto;
        margin-left: 2rem;
        font-size: 2rem;
        
        @include for-phone-medium-portrait-down {
            margin-left: 1rem;
        }
    }
    
    
    &__title {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        .heading--primary {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: .1rem;
            text-align: center;
            font-size: 2.4rem;
            @include gradient-text;
            
            @include for-phone-small-landscape-down {
                font-size: 2rem;
                font-weight: 400;
            }
            
            @include for-phone-medium-portrait-down {
                font-size: 1.8rem;
                font-weight: 400;
            }
            
            @include for-phone-small-portrait-down {
                line-height: normal;
            }

        }    
    }
    
}

//////////////////////////////////
// GAME
//////////////////////////////////

.game {
    
    &__board {
        display: grid;
        grid-template-columns: repeat(20, auto);
        border-top: 1px solid $color-gray-dark;
        border-left: 1px solid $color-gray-dark;
        box-shadow: $box-shadow-light;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        
        @include for-phone-medium-landscape-down {
            transform: translate(-50%, -57%);
        }
        
        @include for-phone-medium-portrait-down {
            transform: translate(-50%, -60%);
        }
        
    }
    
    &__cell {
        display:inline-block;
        width: $cell-size-default;
        height: $cell-size-default;
        background-color: $color-gray-light-1;
        border-right: 1px solid $color-gray-dark;
        border-bottom: 1px solid $color-gray-dark;
        margin: 0;
        padding: 0;
        
        &--live { background-color: $color-blue-bright; }
        
        @include for-phone-medium-landscape-down {
            width: $cell-size-smaller;
            height: $cell-size-smaller;
        }
        
        @include for-phone-small-landscape-down {
            width: $cell-size-smallest;
            height: $cell-size-smallest;
        }
        
        @include for-phone-medium-portrait-down {
            width: $cell-size-small;
            height: $cell-size-small;
        }
    }
    
}

.grid-wrapper {
    width: 100%;
}

//////////////////////////////////
// CONTROLS
//////////////////////////////////

.controls {
    &__size {
        flex: 0 1 auto;
        display: flex;
        //flex-direction: column;
        justify-content: center;
        
        .form-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &-label {
            color: $color-blue-bright;
            font-size: 1.6rem;
            letter-spacing: .5px;
        }
        
        &-input {
            width: 3rem;
            background-color: transparent;
            border: none;
            border-bottom: .5px solid $color-blue-bright;
            color: $color-white;
            font-size: 1.4rem;
            text-align: center;
            
            @include for-phone-medium-portrait-down {
                width: 2rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
        
        &-input:focus {
            outline: none;
            
        }
        
        &-button {
            margin-left: 1.5rem;
            text-decoration: none;
            color: $color-blue-bright;
            font-size: 2rem;
            
            @include for-phone-medium-landscape-down {
                margin-left: 1.3rem;
                font-size: 1.8rem;
            }
            
            @include for-phone-small-landscape-down {
                font-size: 1.6rem;
            }
            
            @include for-phone-medium-portrait-down {
                margin-left: 1rem;
                font-size: 1.6rem;
            }
        }
    }
    
    &__button {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        //background-color: $color-gray-light-2;
        position: relative;
        
        @include for-phone-medium-landscape-down {
            width: 10rem;
        }
        
        @include for-phone-medium-portrait-down {
            width: 8rem;
        }
        
        & i {
            @include center-absolute;
            font-size: 3rem;
            color: rgba(95,209,249,1);
            
            @include for-phone-medium-landscape-down {
                font-size: 2.2rem;
            }
            
            @include for-phone-small-landscape-down {
                font-size: 2rem;
            }
            
            @include for-phone-medium-portrait-down {
                font-size: 1.8rem;
            }
        } 
        
        &--play {
            flex: 0 1 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &--iterate {
            flex: 0 1 auto;
        }
    }
    
    
}