.top {
    background-color: $color-gray-light-2;
    border-radius: 15px;
    z-index: 1000;
    padding-bottom: 1.5rem;
}

.game__controls {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 400;
    transform: translateY(-.5rem);
    padding-top: 1.5rem;
    align-items: center;
    justify-content: space-around;
    
}
