* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
  height: 100vh;
  background-size: cover;
  position: relative; }

.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: .7rem 2rem;
  margin-bottom: 1.5rem;
  background-color: #faf9f9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .header {
      padding: .7rem 1rem; } }
  .header__logo {
    flex: 0 1 auto;
    margin-left: 2rem;
    font-size: 2rem; }
    @media (max-width: 31.25em) and (orientation: portrait) {
      .header__logo {
        margin-left: 1rem; } }
  .header__title {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .header__title .heading--primary {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .1rem;
      text-align: center;
      font-size: 2.4rem;
      background: radial-gradient(circle farthest-corner at 12.3% 19.3%, #5558da 0%, #5fd1f9 100.2%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media (max-height: 20em) and (orientation: landscape) {
        .header__title .heading--primary {
          font-size: 2rem;
          font-weight: 400; } }
      @media (max-width: 31.25em) and (orientation: portrait) {
        .header__title .heading--primary {
          font-size: 1.8rem;
          font-weight: 400; } }
      @media (max-width: 25em) and (orientation: portrait) {
        .header__title .heading--primary {
          line-height: normal; } }

.game__board {
  display: grid;
  grid-template-columns: repeat(20, auto);
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%); }
  @media (max-height: 31.25em) and (orientation: landscape) {
    .game__board {
      transform: translate(-50%, -57%); } }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .game__board {
      transform: translate(-50%, -60%); } }

.game__cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #faf9f9;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  margin: 0;
  padding: 0; }
  .game__cell--live {
    background-color: #5fd1f9; }
  @media (max-height: 31.25em) and (orientation: landscape) {
    .game__cell {
      width: 10px;
      height: 10px; } }
  @media (max-height: 20em) and (orientation: landscape) {
    .game__cell {
      width: 8px;
      height: 8px; } }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .game__cell {
      width: 15px;
      height: 15px; } }

.grid-wrapper {
  width: 100%; }

.controls__size {
  flex: 0 1 auto;
  display: flex;
  justify-content: center; }
  .controls__size .form-group {
    display: flex;
    justify-content: center;
    align-items: center; }
  .controls__size-label {
    color: #5fd1f9;
    font-size: 1.6rem;
    letter-spacing: .5px; }
  .controls__size-input {
    width: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #5fd1f9;
    color: #fff;
    font-size: 1.4rem;
    text-align: center; }
    @media (max-width: 31.25em) and (orientation: portrait) {
      .controls__size-input {
        width: 2rem;
        font-size: 1.4rem;
        line-height: 2rem; } }
  .controls__size-input:focus {
    outline: none; }
  .controls__size-button {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #5fd1f9;
    font-size: 2rem; }
    @media (max-height: 31.25em) and (orientation: landscape) {
      .controls__size-button {
        margin-left: 1.3rem;
        font-size: 1.8rem; } }
    @media (max-height: 20em) and (orientation: landscape) {
      .controls__size-button {
        font-size: 1.6rem; } }
    @media (max-width: 31.25em) and (orientation: portrait) {
      .controls__size-button {
        margin-left: 1rem;
        font-size: 1.6rem; } }

.controls__button {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: relative; }
  @media (max-height: 31.25em) and (orientation: landscape) {
    .controls__button {
      width: 10rem; } }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .controls__button {
      width: 8rem; } }
  .controls__button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #5fd1f9; }
    @media (max-height: 31.25em) and (orientation: landscape) {
      .controls__button i {
        font-size: 2.2rem; } }
    @media (max-height: 20em) and (orientation: landscape) {
      .controls__button i {
        font-size: 2rem; } }
    @media (max-width: 31.25em) and (orientation: portrait) {
      .controls__button i {
        font-size: 1.8rem; } }
  .controls__button--play {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .controls__button--iterate {
    flex: 0 1 auto; }

.game__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: grow;
  border-radius: 15px;
  width: 75vw;
  height: 95vh; }
  @media (min-width: 81.25em) {
    .game__container {
      height: 70vh; } }
  @media (max-width: 68.75em) and (orientation: portrait) {
    .game__container {
      height: 65vh; } }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .game__container {
      width: 85vw;
      height: 90vh; } }
  @media (max-width: 25em) and (orientation: portrait) {
    .game__container {
      width: 95vw; } }

.top {
  background-color: #f4f2f2;
  border-radius: 15px;
  z-index: 1000;
  padding-bottom: 1.5rem;
  width: 75vw;
  height: 85vh; }
  @media (min-width: 81.25em) {
    .top {
      height: 60vh; } }
  @media (max-width: 68.75em) and (orientation: portrait) {
    .top {
      height: 55vh; } }
  @media (max-width: 31.25em) and (orientation: portrait) {
    .top {
      width: 85vw;
      height: 75vh; } }
  @media (max-width: 25em) and (orientation: portrait) {
    .top {
      width: 95vw; } }

.game__controls {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  z-index: 400;
  transform: translateY(-0.5rem);
  padding-top: 1.5rem;
  align-items: center;
  justify-content: space-around; }
